root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md, *.proto, *.json, *.yml, *.yaml]
indent_size = 2
indent_style = space

[go.mod, *.go]
indent_size = 4
indent_style = tab
